/*to enable smooth scrolling*/
html {
  scroll-behavior: smooth;
}
/* On screens that are 880px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 880px) {
  .topnav a {
    float: none;
    display: block;
 
    text-align: left;
    width: 25%;
    padding: 8px 8px;
  }
}
/* make responsive*/
@viewport {
    width:fit-content;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
    }
/* Style the topnav links */
.topnav a {
    background-color: #f5f5f5;  
    float: left;
    display: block;
    font-size: x-large;
    color: #6d858b;
    text-align: center;
    padding: 2px 11px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #f5f5f5;
    color: #6ba4b3;
  }
  

  
  
  /*img respionsive code*/
  .responsive {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  
  /* additonal info to make certain changes*/
  body {background-color: #f5f5f5;
      
          font-family:monospace; 
        }
        header {
          background-color: #f5f5f5;
          padding: 40px;
          text-align: center;
          font-size: 35px;
          color: white;
        }
       
       
        #example2 {
          border: 5px solid #a2c9d1;
          padding: 10px;
          border-bottom-left-radius: 50px 20px;
        }
      
        /* unvisited link */
a:link {
  color:#0c0c0c;
}

/* visited link */
a:visited {
  color: rgb(91, 92, 91);
}

/* mouse over link */
a:hover {
  color: rgb(175, 175, 175);
}

/* selected link */
a:active {
  color: rgb(103, 103, 119);
}
/*shop button code*/
.button {
  width: 70%;
  border: none;
  color: f5f5f5;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #f5f5f5; 
  color: black; 
  border: 2px solid #c54646;
}

.button1:hover {
  background-color: #c54646;
  color: #f5f5f5;
}
/*second table code*/
.t1{
   width: 100%;
}
/*animation code*/
#animation {
  width: 900px;
  height: 40px;
  background-color: #c54646;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
}

@keyframes example {
  0%   {background-color:#c54646; left:0px; top:0px;}
  25%  {background-color:#e95151; left:200px; top:0px;}
  50%  {background-color:#921e1e; left:200px; top:200px;}
  75%  {background-color:#d38989; left:0px; top:200px;}
  100% {background-color:#a84343; left:0px; top:0px;}
}
/*form code*/
body{background-color: #f7f7f7;}
body{font-size:x-large}



input[type=text] {
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: #6b86a0;
    background-color:  #f7f7f7;
    font-size:16px;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 30%;
  }
  input[type=email] {
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: #6b86a0;
    background-color:  #f7f7f7;
    font-size:16px;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=email]:focus {
    width: 45%;
  }


  select {
  width: 40%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #9bbbd8;
}
input[type=number] {
  width: 44%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color:  #f7f7f7;
  border-bottom: 2px solid #9bbbd8;
}
/* Style the topnav links */
.topnav a {
  background-color: #f5f5f5;  
  float: left;
  display: block;
  font-size: x-large;
  color: #5e4d38;
  text-align: center;
  padding: 2px 11px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f5f5f5;
  color: #b67987;
}
        
       /* Style the footer */
  footer {
      background-color: #f5f5f5;
      padding: 10px;
      text-align: center;
      color: white;
  }

  
