/* Style the topnav links */
.topnav a {
    background-color: #f5f5f5;  
    float: left;
    display: block;
    font-size: x-large;
    color: #5e4d38;
    text-align: center;
    padding: 2px 11px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #f5f5f5;
    color: #b67987;
  }
